---
layout: splash
---

{{ content }} 
{% include home-hero.html %}
<head>
<link rel="stylesheet" href="{{ "/css/animate.min.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">

</head>

<main id="portfolio">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="section-title text-center">Experiences</h1>
        {% for post in site.experiences %}
        {% include experience.html %}
      {% endfor %}
        <h1 class="section-title text-center">Projects</h1>
        {% for post in site.resumes %}
          {% include content-left.html %}
        {% endfor %}

      </div>
    </div>
  </div>
</main>
